<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Dasboard
  </title>
  <style>
    body {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      /* background: linear-gradient(135deg, #ff6f61, #f06292); */
      font-family: 'Poppins', sans-serif;
      color: #fff;
    }

    .container {
      text-align: center;
      padding: 20px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 12px;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(10px);
    }

    h1 {
      font-size: 4em;
      font-weight: bold;
      margin: 0;
      text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      color: rgba(0, 0, 0, 0.888);
    }

    p {
      font-size: 1.8em;
      margin: 10px 0 20px;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      color: rgba(0, 0, 0, 0.888);
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>
      Dashboard
    </h1>
    <p>
      Coming Soon!
    </p>
  </div>
</body>

</html>