<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= error_title %> - SafeScroll
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/error.css">
</head>

<body>
    <div class="container">
        <div class="error-container">
            <div class="error-top-content">
                <div class="error-header">
                    <div class="error-code">
                        <%= status_code %>
                    </div>
                    <h1 class="error-title">
                        <%= error_title %>
                    </h1>
                </div>
                <div class="error-image-container">
                    <% if (status_code===404) { %>
                        <img src="/assets/images/404.svg" alt="404 Error" class="error-image">
                        <% } else if (status_code===403) { %>
                            <img src="/assets/images/403.svg" alt="403 Error" class="error-image">
                            <% } else { %>
                                <img src="/assets/images/error.svg" alt="Error" class="error-image">
                                <% } %>
                </div>
            </div>
            <div class="error-message-container">
                <p class="error-message">
                    <%= error %>
                </p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>