<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hateful Meme Blocker</title>
  <link rel="icon" href="logo192.png" sizes="192x192" />
</head>
<body>
  <h1>Hateful Meme Blocker</h1>
  <p>This extension blurs hateful memes.</p>
  <p>Hello World My name</p>
  <form action="/subscribe" method="GET">
    <button type="submit">Subscribe Now</button>
  </form>

</body>
</html>
