body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  max-width: 500px;
  width: 100%;
}
.input-group-text i {
  font-size: 1.25rem;
  margin-left: 5px;
}

.forgot-password {
  text-align: right;
  margin-top: 1rem;
}
.forgot-password a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 600;
}
.forgot-password a:hover {
  color: #0056b3;
}
.create-account {
  text-align: center;
  margin-top: 15px;
}

.btn-link {
  text-decoration: none;
  color: #007bff;
  font-weight: 600;
}

.btn-link:hover {
  text-decoration: underline;
  color: #0056b3;
}
